services:
  microros_devenv:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        ROS_DISTRO: jazzy
    volumes:
      - ./README.md:/ws/src/README.md:rw
      - ./build.bash:/ws/build.bash:rw
      - ./build:/ws/micro_ros_raspberrypi_pico_sdk/build:rw
      - ./app/CMakeLists.txt:/ws/micro_ros_raspberrypi_pico_sdk/CMakeLists.txt:rw
      - ./app/main.c:/ws/micro_ros_raspberrypi_pico_sdk/main.c:rw
      - ./app/src:/ws/micro_ros_raspberrypi_pico_sdk/src:rw
      - ./app/include:/ws/micro_ros_raspberrypi_pico_sdk/include:rw
      - ./app/:/ws/_app/:rw
      - /dev/:/dev/:rw
    environment:
      - PYTHONUNBUFFERED=1
    command: ["/bin/sh", "-c", "sleep infinity"] 
    privileged: true